@import "tailwindcss";

/* Variáveis globais */
:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Fundo preto padrão para o modo claro */
  --color-background: #000000; 
  --color-foreground: #ededed; /* Cor do texto para contraste no fundo preto */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Fundo preto também para o modo escuro */
    --color-background: #000000; 
    --color-foreground: #ededed; /* Cor do texto para contraste no fundo preto */
  }
}

/* Estilo geral do body */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Animação futurista do botão */
@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 200%;
  }
}

.animate-shimmer {
  background-size: 200% 100%;
  animation: shimmer 3s linear infinite;
}